%h2 User Reports
= form_with url: admin_reports_path, local: true, method: :get do |f|
    .callout.primary
        %h4 Generate Reports
        .grid-x.grid-padding-x
            .medium-6.cell
                = f.label "q[user_ids]" do 
                    Users
                    = f.select "q[user_ids]", options_from_collection_for_select(User.all, :id, :email, params.dig(:q, :user_ids)), {:include_blank => "Select user(s)", :include_hidden => false}, :multiple => true
            .medium-6.cell
                = f.label "q[from]" do 
                    From
                    = f.date_field "q[from]"
                = f.label "q[to]" do 
                    To
                    = f.date_field "q[to]"
            .button-group.cell{style: "margin-top: 30px;"}
                = f.submit "List Reports", name: nil, class: "button", data: { disable_with: false }, onClick: "changeFormat('html')", data: { disable_with: false }
                = f.submit "Download as CSV", name: nil, class: "button success", onClick: "changeFormat('csv')", data: { disable_with: false }
                = f.submit "Download as Excel", name: nil, class: "button success", onClick: "changeFormat('xlsx')", data: { disable_with: false }
.table-scroll.grid-padding-y 
    %h4= get_report_title || "Reports"
    = pagy_foundation_nav(@pagy).html_safe
    %table{class: "hover"}
        %thead
            %tr
                %th{width: "150"} Email
                %th{width: "200"} Work Entries
                %th{width: "200"} Personal Entries
                %th{width: "200"} Total Entries
                %th{width: "300"} Total Duration
        %tbody
            - @users.each do |user|
                %tr
                    - user_entries = user.entries.search(params[:q])
                    %td= user.email
                    %td= user_entries.count_by_type("Work")
                    %td= user_entries.count_by_type("Personal")
                    %td= user_entries.size
                    %td= format_duration(user_entries.total_duration)
    %p{class: "text-center"}= "No report found." if !@users.any?

:javascript 
    function changeFormat(format){
        document.querySelector('form').setAttribute('action', `/admin/reports.${format}`)
    }



