<h2>All Entries</h2>
<%= form_with url: admin_entries_path, local: true, method: :get do |f| %>
<div class="callout primary">
    <h4>Search Entries</h4>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>
          Users
          <%= f.select "q[user_ids]", 
            options_from_collection_for_select(@users, :id, :email, params.dig(:q, :user_ids)), 
            {:include_blank => "Select user(s)", :include_hidden => false}, 
            :multiple => true %>
        </label>
      </div>
      <div class="medium-6 cell">
        <label>
          Entry types
          <%= f.select "q[entry_type]", @entry_types, {:include_blank => "All"}%>
        </label>
      </div>
      <div class="medium-6 cell">
        <label>
          From
          <%= f.date_field "q[from]"  %>
        </label>
      </div>
      <div class="medium-6 cell">
        <label>
          To
          <%= f.date_field "q[to]" %>
        </label>
      </div>
    </div>
  
    <%= f.submit "Search", name: nil, class: "button" %>
  </div>
<% end %>
<div class="table-scroll grid-padding-y">
  <table class="hover">
    <thead>
      <tr>
        <th width="200">User</th>
        <th width="150">Type</th>
        <th width="150">Started</th>
        <th width="150">Finished</th>
        <th width="150">Duration</th>
      </tr>
    </thead>
    <tbody>
      <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.user.email %></td>
        <td><%= entry&.entry_type %></td>
        <td><%= format_date(entry.started_at) %></td>
        <td><%= format_date(entry.finished_at) %></td>
        <td><%= entry.duration %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p class="text-center"><%= "Nothing found" if !@entries.any? %></p>
</div>
