=form_with model: new_manual_entry,  method: :post, local: true do |f|
    .manual
        %h3 Manual Mode
        = f.label :started_at
        = f.datetime_field :started_at, min: Date.today, required: true
        = f.label :finish_time
        = f.time_field :finish_time, required: true
        = f.label :entry_type
        = f.select :entry_type, options_for_select([ ['Work'], ['Personal'] ]), {prompt: "Select Type..."}, required: true
        = f.label :comment
        = f.text_field :comment, placeholder: "Comment"
        = f.submit "Create", class: "button"
        .mode-switch
            = link_to "🕐 Switch to timer mode", profile_path