%h2 Profile
.grid-container
    .grid-x
        - if params[:mode] == "manual"
            .cell
                .callout.primary
                    %h4 Add entry manually
                    =form_with model: @manual_entry,  method: :post, local: true do |f|
                        =f.label :started_at  do
                            Started at
                            = f.datetime_field :started_at
                        =f.label :finish_time do
                            Finished at
                            = f.time_field :finish_time
                        =f.label :entry_type do
                            Entry type 
                            = f.select :entry_type, options_for_select([ ['Business'], ['Personal'] ]), {prompt: "Please Select..."}, required: true
                        =f.label :comment do
                            Comment
                            = f.text_field :comment
                        =f.submit "Create", class: "button"
            .cell.text-right
                = link_to "ðŸ• Switch to timer mode", profile_path, class: "clear button"
        - else 
            .cell.ongoing
                -if @ongoing
                    .callout.success
                        #ongoing-duration{:data => {:started_at => @ongoing.started_at}}= format_duration(@ongoing.duration)
                        =link_to "Finish", finish_entry_path(@ongoing), :method => :post
                -else
                    =form_with :model => @startable_entry, :method => :post, :local => true do |f|
                        .callout.success 
                            %h4 Start timer
                            .grid-x.grid-margin-x
                                .medium-4.cell= f.select :entry_type, options_for_select([ ['Business'], ['Personal'] ]), {prompt: "Select entry type..."}, required: true
                                .medium-4.cell= f.text_field :comment, placeholder: "Your comment...", required: true
                                .medium-4.cell= f.submit "Start", class: "button success"
            -if !@ongoing
                .cell.text-right
                    = link_to "ðŸ“‹ Switch to manual mode", profile_path(mode: "manual"), class: "clear button"
.table-scroll.grid-padding-y
    = pagy_foundation_nav(@pagy).html_safe
    %table{class: "hover"}
        %thead
            %tr
                %th{width: "150"} Type
                %th{width: "200"} Comment
                %th{width: "200"} Duration
                %th{width: "300"} Started
                %th{width: "300"} Finished
        %tbody
            - @finished_entries.each do |entry|
                %tr
                    %td= entry.entry_type
                    %td= entry&.comment 
                    %td= format_duration(entry.duration)
                    %td= format_date(entry.started_at) 
                    %td= format_date(entry.finished_at) 
    %p{class: "text-center"}= "You don't have any entries." if !@finished_entries.any?