- if params[:mode] == "manual"
    = render partial: "manual", locals: {new_manual_entry: @new_manual_entry}
- else     
    = render partial: "timer", locals: {new_timer_entry: @new_timer_entry, ongoing: @ongoing}

.entries
    %h3 Entries
    = pagy_foundation_nav(@pagy).html_safe
    %ul.accordion{"data-accordion" => true}
        - @finished_entries.group_by { |ent| ent.started_at.strftime("%e %b %Y") }.each do |date, entries|
            %li.accordion-item{"data-accordion-item" => true}
                %a.accordion-title{href: "#"}= date
                .accordion-content{"data-tab-content" => true}
                    - entries.each do |entry|
                        .grid-x.align-middle.align-justify.entry 
                            .auto.cell
                                %span.entry-type= entry.entry_type
                                -# - if entry.comment.present?
                            .auto.cell.text-right
                                %span.entry-range.hide-for-small-only= get_entry_range(entry)
                                %strong= format_duration(entry.duration)
                                = link_to entry_path(entry), method: :delete, data: {confirm: "Are you sure to delete this entry?"} do 
                                    %i.fas.fa-trash-alt

