<!DOCTYPE html>
%html(lang="en")
    %head
        = csrf_meta_tags
        = csp_meta_tag
        %meta(charset="UTF-8")/
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        %title Time Tracker
        = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
        = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %body 
        .top-bar
            .top-bar-left
                %ul{class: "menu"}
                    %li{class: "menu-text"} Time Tracker 
                    %li= link_to "Home", root_path
                    - if current_user 
                        - if current_user.admin?
                            %li= link_to "All Entries", admin_entries_path
                        %li= link_to "Profile", profile_path
                        %li= link_to "Log out", destroy_user_session_path, method: :delete
                    - else 
                        %li= link_to "Log in", new_user_session_path
        %main= yield