<!DOCTYPE html>
%html(lang="en")
    %head
        = csrf_meta_tags
        = csp_meta_tag
        %meta(charset="UTF-8")/
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        %title Time Tracker
        = favicon_link_tag "favicon.png"
        = javascript_pack_tag "application", "data-turbolinks-track": "reload"
        = stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload"
    %body 
        .top-bar
            .top-bar-left
                %ul{class: "dropdown menu", data: {"dropdown-menu": true}}
                    %li{class: "menu-text"} Time Tracker 
                    %li= link_to "Home", root_path
                    - if current_user 
                        - if current_user.admin?
                            %li 
                                %a Admin 
                                %ul{class: "menu vertical"}
                                    %li= link_to "Entries", admin_entries_path
                                    %li= link_to "Reports", admin_reports_path
                        %li= link_to "Profile", profile_path
                        %li= link_to "Log out", destroy_user_session_path, method: :delete
                    - else 
                        %li= link_to "Log in", new_user_session_path
        %main= yield